:root{
    --fuenteHeading: 'PT Sans', san-serif; 
    --fuenteParrafos: 'Open Sans', san-serif; 
    --primario: #260101;
    --secundario: #BF5B04;
    --secundarioClaro: #BF9169;
    --blanco: #fff;
    --negro: #000;

}
html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */    
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
}

/** Globales **/
.conteiner {
    width: min(90%, 120rem);
    margin: 0 auto;
}
a {
    text-decoration: none;
}
h1, h2, h3, h4 {
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}
h1 {
    font-size: 4.8rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3.2rem;
}
h4 {
    font-size: 2.8rem;
}
img {
    max-width: 100%;
}
/** Utilidades **/
.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}
.aling-text{
    text-align: center;
}

/** Header **/

.header {
    background-image: url(/img/banner.jpg);
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.header-text{
    text-align: center;
    color: var(--blanco);
    margin-top: 10rem;
}
@media (max-width: 768px){
    .header-text{
        margin-top: 10rem;
    }
    .logo{
        text-align: center;
    }
}

.barra {
    padding-top: 4rem;
}
@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.logo{
    color: var(--blanco);
}
.logo-name{
    font-weight: 400;
}
.logo-bold{
    font-weight: 700;
}

@media (min-width: 768px){
    .navegation{
        display: flex;
        gap: 2rem;
    }
}
.navegation-link{
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--blanco);
}
@media (min-width: 768px){
    .principal-conteiner{
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    }
}

/*BLOG*/
.entrada{
    border-bottom: 1px solid #BF5B04 ;
    margin-bottom: 2rem;
}
.entrada:last-of-type{/*elimina la linea final*/
    border: none;
    margin-bottom: 0;
}
.bottom{
    display: block;
    font-family: var(--fuenteHeading);
    color: var(--blanco);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 2rem;
}
@media (min-width: 768px){
    .bottom{
        display: inline-block;/*inline don't respect margin and width, inline-block respect*/
    }
}
.bottom-start{
    background-color: var(--secundario);
}
.bottom-start2{
    background-color: var(--secundarioClaro);
}
.courses{
    list-style: none;
}
.widget-courses{
    border-bottom: 1px solid var(--secundario);
}
.widget-courses:last-of-type{/*elimina la linea final*/
    border: none;
    margin-bottom: 0;
}
.widget-courses-label{
    font-family: var(--fuenteHeading);
    font-weight: bold;
    font-size: 2rem;
}
.widget-courses-info{
    font-weight: normal;
    font-size: 2rem;
}

/*footer*/
.footer{
    background-color: var(--negro);
}
.container-footer{
    padding-bottom: 2rem;

}
@media (min-width: 768px) {
    .container-footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

/*About Us*/
.about-us{
    padding: 1rem;
}
@media (min-width: 768px){
    .about-us{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
        padding: 2rem;
        align-items: center;
    }
    .about-us-img, .about-us-text{
        flex-basis: 50%;
    }
}